In [1]:
print("hello World")

hello World

In [3]:
age = 20
print(age)

20

In [4]:
age = 20
price = 19.95
frist_name = "Mosh"
is_online = False
print(age)

20

In [17]:
age = "20"
name = "John Smith"
print("New patient name is "+ name+ ".")
print("He is "+ age +"years old")

New patient name is John Smith.
He is 20years old

In [6]:
input("What i s your name? ")

What i s your name? Raisa

'Raisa'

In [7]:
name = input("What i s your name? ")
print("Hello "+ name)

What i s your name? raisa
Hello raisa

In [22]:
birth_year = input("enter your birth year - ")
age = 2022 - int(birth_year)
print(age)

enter your birth year - 1998
24

In [ ]:
int()
float()
bool()
str()

In [25]:
First = input("First: ")
Second = input("Second: ")
sum = float(First) + float(Second)
print("Sum: "+ str(sum))

First: 10
Second: 20.1
Sum: 30.1

In [26]:
First = float(input("First: "))
Second = float(input("Second: "))
sum = First + Second
print("Sum: "+ str(sum))

First: 10
Second: 20.1
Sum: 30.1

In [33]:
course  = 'Python for Beginners'
print(course.upper())
print(course)
print(course.find('y'))
print(course.find('Y'))
print(course.find('for'))
print(course.replace('for','4'))
print(course.replace('x','4'))
print(course.find('Python'))

PYTHON FOR BEGINNERS
Python for Beginners
1
-1
7
Python 4 Beginners
Python for Beginners
0

In [34]:
course  = 'Python for Beginners'
print('Python' in course)

True

# Arithmetic Operation

In [37]:
print(10/3)
print(10//3)
print(10%3)
print(10**3)

3.3333333333333335
3
1
1000

In [ ]:
# Augmented assignment operator
x = 10
x = x+3
x + = 3

In [38]:
x = 10 + 3 * 2
print(x)

16

In [39]:
x = 3 > 2
print(x)

True

In [40]:
x = 3 >= 2
print(x)

True

In [41]:
x = 3 == 2
print(x)

False

In [ ]:
x = 3 != 2
print(x)

In [44]:
x = 3 < 2
print(x)

False

In [45]:
x = 3 <= 2
print(x)

False

# Logical Operator

In [46]:
price = 25
print(price>10 and price<30)

True

In [48]:
price = 5
print(price > 10 or price < 30)

True

In [49]:
price = 25
print(not price > 10)

False

# If Statement

In [57]:
temperature = 35

if temperature > 30:  
    print("Its a hot day")
    print("Drink plentry of water")
elif temperature > 20:
    print("Its a nice day")
elif temperature > 10:
    print("Its a bit cold")
else:
    print("Its cold")

print("Done")

Its a hot day
Drink plentry of water
Done

In [65]:
weight = int(input("Weight: "))
unit = input("(K)g or (L)bs: ")

if unit.upper() == "K":
    convert =  weight / 0.45
    print("Weight in Lbs: " + str(convert))
else:
    convert = weight *0.45
    print("Weight in Kgs: " + str(convert))

Weight: 170
(K)g or (L)bs: k
Weight in Lbs: 377.77777777777777

# while loop

In [69]:
i = 1
while i <= 10:
    print(i * '*')
    i=i+1

*
**
***
****
*****
******
*******
********
*********
**********

# Lists

In [77]:
names = ["john", "Bob", "Mosh", "Sam", "Mary"]
print(names)
print(names[0])
print(names[-1])
print(names[-2])
names[0] = "Jon"
print(names)
print(names[0:3])
print(names)

['john', 'Bob', 'Mosh', 'Sam', 'Mary']
john
Mary
Sam
['Jon', 'Bob', 'Mosh', 'Sam', 'Mary']
['Jon', 'Bob', 'Mosh']
['Jon', 'Bob', 'Mosh', 'Sam', 'Mary']

In [ ]:
#List Methods

In [78]:
numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [79]:
numbers = [1,2,3,4,5]
numbers.insert(0, -1)
print(numbers)

[-1, 1, 2, 3, 4, 5]

In [81]:
numbers = [1,2,3,4,5]
numbers.clear()
print(numbers)

[]

In [80]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [82]:
numbers = [1,2,3,4,5]
print(1 in numbers)

True

In [83]:
numbers = [1,2,3,4,5]
print(len(numbers))

5

# For loop

In [86]:
num = [1,2,3,4,5]
for item in num:
    print(item)
print(num)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [3]:
#for loop
num = [1,2,3,4,5]
for item in num:
    print(item)
    
#while loop    
i = 0
while i < len(num):
    print(num[i])
    i = i + 1

1
2
3
4
5
1
2
3
4
5

# The range Function

In [9]:
nums = range(5)
for num in nums: 
    print(num)

0
1
2
3
4

In [12]:
nums = range(5, 10)
for num in nums: 
    print(num)

5
6
7
8
9

In [13]:
nums = range(5, 10, 2)
for num in nums: 
    print(num)

5
7
9

In [15]:
for num in range(5): 
    print(num)

0
1
2
3
4

# Tuples - unchangeble

In [21]:
num = (1,2,3,3)
num.count(3)
num.index(1)

0